body {
    font-family: Poppins, sans-serif;
    background-color: #f5f5f5;

}

.container {
    display: flex;
    margin: 40px auto;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    gap: 15px;
}

.radio-group label {
    font-weight: normal;
}

.radio-group input {
    margin-right: 5px;
}

a {
    color: #e74c3c;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
.account_label{
    text-align: center;

}
.form-group_image{
    display: block;
    text-align: center;
    margin-top: 50px;
}

.image-upload {
    display: block; width: 300px;
    align-items: center;
    gap: 10px;
}
.image-upload_button{
    margin-left: 38px;
}

.image-upload img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}
/* Ẩn input file để sử dụng button tùy chỉnh */
.image-upload input[type="file"] {
    display: none;
}

/* Style cho nút button */
#upload-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

/* Thay đổi màu nền khi hover */
#upload-button:hover {
    background-color: #c0392b;
}

/* Style cho ảnh đại diện */
.image-upload img {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-left: 15px;
}
