body{
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F5F7F3;
}

.box {
    width: 420px;
    background: #FF6A00;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: -70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box h1 {
    font-size: 36px;
    text-align: center;
}

.box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 40px; /* Đảm bảo có khoảng cách cho biểu tượng */
    box-sizing: border-box;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .user-icon,
.input-box .email-icon,
.input-box .phone-icon,
.input-box .eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    opacity: 0.7;
}


.input-box .user-icon:hover,
.input-box .email-icon:hover,
.input-box .phone-icon:hover,
.input-box .eye-icon:hover {
    opacity: 1;
}

.box .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.box .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}