body {
    font-family: Poppins, sans-serif;
    background-color: #F5F7F3;
    color: #333;
}

/* Footer*/

footer {
    background-color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    color: #333;
    width: 100%;
    height: auto;
}

.footer-container .logo {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-left: -50px;

}

.footer-container .logo div {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

}

.footer-section {
    width: 22%;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-section ul li i {
    margin-right: 8px;
}

.store-system-btn {
    background-color: #ff6a00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.store-system-btn:hover {
    background-color: #e65c00;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons i {
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}